.brandlist {
    margin-top: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.brand {
    background: var(--tg-theme-secondary-bg-color);
    font-weight: 700;
    padding: 10px;
    width: 164px;
    margin: 8px;
    border-radius: 7px;
}