* {
    font-family: Arial, sans-serif;
    color: var(--tg-theme-text-color);
}

a:active,
a:hover,
a {
    text-decoration: none;
}

.nextPage {
    min-width: 170px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.product {

}

.title {
    padding-top: 5px;
    text-align: center;
}

.img {
    text-align: center;
    background: var(--tg-theme-bg-color);
    height: 110px;
    border-radius: 7px;
}

.img > img {
    padding-top: 5px;
    width: 100px;
}
