body {
    margin: 0;
    padding: 0;
}

.ordertitle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: var(--tg-theme-bg-color);
    padding-bottom: 10px;
}

.ordertext {
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.editorder {
    margin-top: 20px;
    margin-right: 20px;
    border: none;
    background-color: transparent;
    color: greenyellow;
    font-weight: 700;
    font-size: 13px;
}

.dateinput, .numberinput {
    height: 35px;
    width: 100%;
    background: inherit;
    border: none;
    background: var(--tg-theme-bg-color);
}
