body {
    background: var(--tg-theme-secondary-bg-color);
    margin: 0;
    padding: 0;
}

.ordertitle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: var(--tg-theme-bg-color);
    padding-bottom: 10px;
}

.ordertitletext {
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.editorder {
    margin-top: 20px;
    margin-right: 20px;
    border: none;
    background-color: transparent;
    color: #46ae58;
    font-weight: 700;
    font-size: 13px;
}

.inputs {
    margin-top: 15px;
    background: var(--tg-theme-bg-color);
}

.dateinput, .numberinput {
    color: var(--tg-theme-hint-color);
    height: 50px;
    width: 100%;
    background: inherit;
    border: none;
    border-radius: 0;
    padding-left: 20px;
    outline:none;
    font-size: 17px;
}

.order {
    background: var(--tg-theme-bg-color);
    padding: 10px 0 10px 0;
}

.ordertext {
    padding-left: 20px;
}

.orderproduct {
    display: flex;
    justify-content: space-between;
}

.orderproducttext {
    color: var(--tg-theme-hint-color)
}

.colortext {
    color: #eaab3c;
    font-weight: 700;
}

.totalprice {
    padding-right: 20px;
}