* {
    font-family: Arial, sans-serif;
    color: var(--tg-theme-text-color);
}

a:active,
a:hover,
a {
    text-decoration: none;
}

.nextPage {
    min-width: 170px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.categorytitle {
    padding-top: 5px;
    text-align: center;
    font-weight: 700;
}

.categoryimg {
    text-align: center;
    height: 110px;
    border-radius: 7px;
}

.categoryimg > img {
    padding-top: 5px;
    width: 100px;
}
