.productcontainer {
    background: var(--tg-theme-secondary-bg-color);
    height: 100vh;
}

.title {
    line-height: 50px;
}

.underline {
    position : relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    background: var(--tg-theme-bg-color);
    width: 100%;
    text-align: center;
    border-radius: 0 0 7px 7px;
    height: 50px;
    vertical-align: middle;
}

.choicecontainer {
    margin-top: 20px;
    min-width: 385px;
    background: var(--tg-theme-bg-color);
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 7px;
}

.option {
    margin-left: 10px;
    align-items: center;
    height: 50px;
    display: flex;
}

.addBtn, .rmvBtn {
    outline: none;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 7px;
}

.addBtn {
    transition: width .15s ease;
}

.btns {
    display: flex;
    min-width: 65px;
    justify-content: space-between;
}

p {
    margin-left: 4px;
}

.nonselected {
    width: 100%;
    transition: width .15s ease;
}

.rmvBtn {display: block; animation: shows 1s;}

.hidebtn {
    display: none;
}

.producttext {
    display: flex;
    justify-content: space-between;
    line-height: 35px;
    height: 35px;
    width: 100%;
    margin-left: 10px;
    border-bottom: var(--tg-secondary-color);
}

.badge {
    margin-top: 5px;
    margin-right: 10px;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    height: 22px;
    min-width: 22px;
    border-radius: 11px;
    background: var(--tg-theme-button-color);
    text-align: center;
    line-height: 22px;
    font-weight: 700;
    font-size: 14px;
    animation-name: none;
    color: var(--tg-theme-button-text-color);
}

@-webkit-keyframes badge-incr {
    0%, 100% {
        transform: scale3d(1, 1, 1);
    }

    40% {
        transform: scale3d(1.2, 1.2, 1);
    }
}

@keyframes badge-incr {
    0%, 100% {
        transform: scale3d(1, 1, 1);
    }

    40% {
        transform: scale3d(1.2, 1.2, 1);
    }
}

@-webkit-keyframes badge-incr2 {
    0%, 100% {
        transform: scale3d(1, 1, 1);
    }

    40% {
        transform: scale3d(1.2, 1.2, 1);
    }
}

@keyframes badge-incr2 {
    0%, 100% {
        transform: scale3d(1, 1, 1);
    }

    40% {
        transform: scale3d(1.2, 1.2, 1);
    }
}

@-webkit-keyframes badge-decr {
    0%, 100% {
        transform: scale3d(1, 1, 1);
    }

    40% {
        transform: scale3d(0.8, 0.8, 1);
    }
}

@keyframes badge-decr {
    0%, 100% {
        transform: scale3d(1, 1, 1);
    }

    40% {
        transform: scale3d(0.8, 0.8, 1);
    }
}

@-webkit-keyframes badge-decr2 {
    0%, 100% {
        transform: scale3d(1, 1, 1);
    }

    40% {
        transform: scale3d(0.8, 0.8, 1);
    }
}

@keyframes badge-decr2 {
    0%, 100% {
        transform: scale3d(1, 1, 1);
    }

    40% {
        transform: scale3d(0.8, 0.8, 1);
    }
}

@-webkit-keyframes badge-hide {
    100% {
        opacity: 0;
        visibility: hidden;
    }

}

@keyframes badge-hide {
    100% {
        opacity: 0;
        visibility: hidden;
    }

}

.last {
    border-bottom: none;
}


@keyframes shows {

    from {

        opacity: 0;

    }

    to {

        opacity: 1;

    }

}