.product {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    width: 100%;
}


.img {
    width: 100%;
    background: lightgray;
    height: 100px;
    margin: 0 auto;
    background: var(--tg-theme-button-color);
    border-radius: 7px;
}

.description {
    font-size: 0.8em;
}

.add-btn {
    border-radius: 7px;
    width: 97%;
    background-color: #31b545;
}

.rem-btn {
    border-radius: 7px;
    width: 97%;
    background-color: #bd514a;
}

.btns {
    display: flex;
    flex-direction: row;
}